<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <address>
          <em>Schwals</em>
          <br>
          ©2017</address>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Follow</li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="../public/js/script.js"></script>
