<header>
  <div class="container">
    <div class="row">
      <a href="/" class="col logo"><img src="../public/assets/pagekit.svg" alt="logo"></a>
      <div class="col">
        <button type="button" id="burger-nav"><img src="../public/assets/menu.svg" alt="menu"></button>
      </div>
    </div>
  </div>
</header>
