<div id="navigation">
  <div class="container">
    <a href="#" id="cancel"><img src="../public/assets/cancel.svg" alt="cancel"></a>
    <div class="mobile-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <!-- <li><a href="/subscribe">Subscribe</a></li> -->
      </ul>
    </div>
  </div>
</div>
