<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/mobile-nav %>
    <% include ../partials/header %>
    <section>
      <div class="container bio">
        <h1>About</h1>
        <div class="row">
          <article class="col-sm-12">
            <p>We are at the start of the most significant economic movement since the Industrial Revolution. With the tools available today, work is being redefined.</p>
            <p> We have more power than ever before to be our own bosses. Develop our own passions. And work is no longer a place. It can happen from any space, any place, anytime, anywhere.</p>
            <p> While there has been progress toward making it easier for people to work together in this new economy, there hasn’t been the same amount of innovation directed toward connecting people who are looking for exceptional work with professionals who know how to deliver quality results.</p>
            <p> What’s wrong with many of the current services is they tend to pit professionals against one another, ultimately landing on price as the determining factor. This teaches the wrong behavior – that driving the price of work down is good, so long as you can find someone that gets the job done but nothing more. This doesn’t necessarily lead to innovation but rather, mediocrity.</p>
            <p> While it’s now possible to work from anywhere in the world and make a living, we think there’s room to do much better.</p>
            <p> At Schwals, we’re building a system that values the results of the work done, not just the dollar price. Where people receive quality results and professionals are paid what they’re worth. A system to help quality work find the hands of the right professionals.</p>
            <p> Our new economy is here. Schwals is creating the tools to empower people to succeed.</p>
          </article>
          <nav class="col-sm-12">
            <div class="row category">
              <div class="col-sm-6">
                <h2>Contact</h2>
                <p>
                  Email
                  <br>
                  <a href="mailto:developer.material@gmail.com">schwals@gmail.com</a>
                </p>
                <ul class="list-unstyled">
                  <li>Follow</li>
                  <li>Instagram</li>
                  <li>Twitter</li>
                  <li>Facebook</li>
                </ul>
                <p>
                  Subscribe to
                  <a href="#">newsletter</a>
                </p>
              </div>
              <div class="col-sm-6">
                <h2>Team</h2>
                <p>
                  Founder
                  <br>
                  <a href="#" target="_blank">Craig Adams, Founder</a>
                  <br>
                  <a href="https://twitter.com/" target="_blank">@craigad</a>
                </p>
                <p>
                  Co-Founder
                  <br>
                  <a href="#" target="_blank">Jimmmy Grant, Co-Founder</a>
                  <br>
                  <a href="https://twitter.com/" target="_blank">@jimmygrand</a>
                </p>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </section>
    <section></section>
    <% include ../partials/footer %>
  </body>
</html>
