<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/mobile-nav %>
    <% include ../partials/header %>
    <main>
      <section>
        <div class="container">
          <div class="row intro">
            <div class="col-md-6">
              <p>We are a team of remote digital marketers that are driven by results. Get to know us <span>more.</span></p>
            </div>
            <div class="col-sm-6 text-right d-none d-sm-block">
              <p><span>About Us</span></p>
            </div>
          </div>
          <div id="accordion">
            <h2 name="0">Seattle</h2>
            <nav>
              <ul class="row">
                <li class="col-md-4"><a href="/envy/invidia">
                  <figure><img src="../public/assets/portraits/sarah.png" alt=""></figure>
                  <p>Sarah Bell</p>
                </a></li>
                <li class="col-md-4"><a href="/envy/diane">
                  <figure><img src="../public/assets/portraits/kurt.png" alt=""></figure>
                  <p>Kurt Wilson</p>
                </a></li>
                <li class="col-md-4"><a href="/envy/diane">
                  <figure><img src="../public/assets/portraits/diane.png" alt=""></figure>
                  <p>Diane Ross</p>
                </a></li>
              </ul>
            </nav>
            <h2 name="1">Los Angeles</h2>
            <nav>
              <ul class="row">
                <li class="col-md-4"><a href="/wrath/ira">
                  <figure><img src="../public/assets/portraits/ira.png" alt=""></figure>
                  <p>Ira Place</p>
                </a></li>
                <li class="col-md-4"><a href="/wrath/meliodas">
                  <figure><img src="../public/assets/portraits/dean.png" alt=""></figure>
                  <p>Dean Holm</p>
                </a></li>
                <li class="col-md-4"><a href="/envy/diane">
                  <figure><img src="../public/assets/portraits/brooke.png" alt=""></figure>
                  <p>Brooke Hill</p>
                </a></li>
              </ul>
            </nav>
            <h2 name="2">Atlanta</h2>
            <nav>
              <ul class="row">
                <li class="col-md-4"><a href="/lust/luxuria">
                  <figure><img src="../public/assets/portraits/luxuria.png" alt=""></figure>
                  <p>Luxuria Finn</p>
                </a></li>
                <li class="col-md-4"><a href="/lust/growther">
                  <figure><img src="../public/assets/portraits/koran.png" alt=""></figure>
                  <p>Koran Winston</p>
                </a></li>
                <li class="col-md-4"><a href="/envy/diane">
                  <figure><img src="../public/assets/portraits/casey.png" alt=""></figure>
                  <p>Casey Smith</p>
                </a></li>
              </ul>
            </nav>
            <h2 name="3">New York</h2>
            <nav>
              <ul class="row">
                <li class="col-md-4"><a href="/gluttony/gula">
                  <figure><img src="../public/assets/portraits/gula.png" alt=""></figure>
                  <p>Gula Lord</p>
                </a></li>
                <li class="col-md-4"><a href="/gluttony/merlin">
                  <figure><img src="../public/assets/portraits/merlin.png" alt=""></figure>
                  <p>Merlin Mitchell</p>
                </a></li>
                <li class="col-md-4"><a href="/envy/diane">
                  <figure><img src="../public/assets/portraits/gemmy.png" alt=""></figure>
                  <p>Gemmy Doyle</p>
                </a></li>
              </ul>
            </nav>
            <h2 name="4">Boston</h2>
            <nav>
              <ul class="row">
                <li class="col-md-4"><a href="/greed/avaritia">
                  <figure><img src="../public/assets/portraits/karan.png" alt=""></figure>
                  <p>Karan Coach</p>
                </a></li>
                <li class="col-md-4"><a href="/greed/ban">
                  <figure><img src="../public/assets/portraits/mark.png" alt=""></figure>
                  <p>Mark Hill</p>
                </a></li>
                <li class="col-md-4"><a href="/envy/diane">
                  <figure><img src="../public/assets/portraits/kalyn.png" alt=""></figure>
                  <p>Kalyn Poole</p>
                </a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section></main>
    <% include ../partials/footer %>
  </body>
</html>
